<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Add Pilot Penerbangan</title>
</head>

<body>
<div class="container-fluid align-content-center justify-content-center" style="margin-top: 5vw;margin-bottom:5vw" >
    <div class="card-group" style="margin-top: 5vw;margin-bottom:5vw">
        <div class="card"></div>
        <div class="card align-content-center justify-content-center" align="center" style="width: 20rem; align-content: center">
            <h2 style="color:#2f78b2;font-weight: bold" th:text = "'Pelatihan berhasil ditambahkan pada penerbangan'" ></h2>
            <a href="/pelatihan/viewall">Kembali ke Daftar Pelatihan</a>
        </div>
        <div class="card"></div>
    </div>
</div>

</body>
</html>