<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Form Add Trainer</title>
    <!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
    <!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
    </head>

    <body>
    <!--<nav th:replace="fragments/fragment :: navbar (current='Add Trainer')"></nav>-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">Tambah Trainer</div>
            <div class="card-body">
                <form th:action="@{/trainer/add}" th:object="${trainer}" method="POST">
                    Nama :<br />
                    <input type="text" name="nama_trainer" />
                    <br /><br />
                    No KTP :<br />
                    <input type="text" name="noKtp" />
                    <br /><br />
                    No Telepon :<br />
                    <input type="text" name="no_telepon" />
                    <br /><br />
                    Email :<br />
                    <input type="text" name="email" />
                    <br /><br />
                    <button type="submit" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>