<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah User</title>
</head>
<body>
<form th:action="@{/user/tambah}" th:object="${pegawai}" method="POST">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <p>Username</p>
            <input type="text" name="username" class="form-control form-control-user"
                   placeholder="e.g. kimseokjin">
        </div>
        <div class="col-sm-6">
            <p>Password</p>
            <input type="password" name="password" class="form-control form-control-user"
                   placeholder="Must contain at least 8 characters, 1 uppercase, and 1 number" pattern="(?=.*\d)(?=.*[A-Z]).{8,}">
        </div>
    </div>
    <div class="form-group">
        <p>Nama</p>
        <input type="text" name="nama" class="form-control form-control-user"
               placeholder="e.g Kim Seokjin">
    </div>
    <div class="form-group">
        <p>No. Telepon</p>
        <input type="text" name="noTelepon" class="form-control form-control-user"
               placeholder="e.g. 081213141516">
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <p>Tempat Lahir</p>
            <input type="text" name="tempatLahir" class="form-control form-control-user"
                   placeholder="e.g. Jakarta">
        </div>
        <div class="col-sm-6">
            <p>Tanggal Lahir</p>
            <input type="datetime-local" name="tanggalLahir" class="form-control form-control-user">
        </div>
    </div>
    <div class="form-group">
        <p>Alamat</p>
        <input type="text" name="alamat" class="form-control form-control-user"
               placeholder="e.g. Jalan Lubuk Kasih R/32">
    </div>
<!--    <div class="form-group">-->
<!--        <p>Role</p>-->
<!--        <select th:value="${user.role}" name="role" class="form-control mb-5 text-secondary" style="border-radius: 30px; height: 50px; font-size: 14px" >-->
<!--            <option selected value="">&#45;&#45; Pilih Role &#45;&#45;</option>-->
<!--            <option th:each="role : ${listRole}"-->
<!--                    th:value="${role.id_role}"-->
<!--                    th:text="${role.nama_role}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <label>Username</label>-->
<!--    <input type="text" name="username" class="form-control"/>-->
<!--    <label>Nama</label>-->
<!--    <input type="text" name="nama" class="form-control">-->
<!--    <label>No. Telepon</label>-->
<!--    <input type="text" name="noTelepon" class="form-control">-->
<!--    <label>Tempat Lahir</label>-->
<!--    <input type="text" name="tempatLahir" class="form-control">-->
<!--    <label>Tanggal Lahir</label>-->
<!--    <input type="datetime-local" name="tanggalLahir" class="form-control">-->
<!--    <label>Alamat</label>-->
<!--    <input type="text" name="alamat" class="form-control">-->
<!--    <label>Password</label>-->
<!--    <input type="password" name="password" class="form-control">-->
<!--    <label>Role</label>-->
    <select name="roleId" class="form-control mb-5 text-secondary" style="border-radius: 30px; height: 50px; font-size: 14px" >-->
        <option selected value="">-- Pilih Role --</option>
        <option th:each="role : ${listRole}"
                th:value="${role.id_role}"
                th:text="${role.nama_role}">
        </option>
    </select>
    <br>
    <button type="submit" class="btn btn btn-outline-dark">Simpan</button>
</form>
</body>
</html>